/*
Copyright 2017, CERN

Permission is hereby granted, free of charge, to any person obtaining a copy of
this software and associated documentation files (the "Software"), to deal in
the Software without restriction, including without limitation the rights to
use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
the Software, and to permit persons to whom the Software is furnished to do so,
subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies
or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN
AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

* { margin: 0; padding: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }

body {
    font: 36px/1.5 'Open Sans', sans-serif;
    min-height: 740px;
    color: #000;
    -webkit-font-smoothing: antialiased;
}

span.tab{
    padding: 0 80px;
}

a {
    text-decoration:none;
    color: none;
}

a:visited{
    text-decoration:none;
    color: none;
}

#slide_num {
   position:absolute;
   top:10px;
   right:10px;
   font-size: 0.5em;
   text-align: left;
   color: #0053A1;
   margin-top: 20px;
   margin-left: 50px;
   font-weight: bold;
}


h1, h2, h3, h6 {
    font-family: 'Open Sans', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
    padding-bottom: 0.2em;
}

h1 {
    font-size: 2em;
    text-align: left;
    color: #0053A1;
    margin-top: 20px;
    margin-left: 50px;
    font-weight: bold;
}
b { color: #0053A1; }

h2 {
    font-size: 1.5em;
    color: #0053A1;
    padding-bottom: 0px;
    text-align: center;
    padding-top: 0px;
}

b { color: #0053A1; }
h3 {

    font-size: 1.5em;
    color: #0053A1;
    padding-bottom: 0px;
    text-align: center;
    font-weight: bold;
}
h3 b {
    font-size: 1.1em;
}

h3.lone {
    text-align: center;
}

h4 {
    font-size: 0.6em;
    margin-bottom: 0.2em;
}

h6 {
    text-align: center;

}

ul li {
    list-style-type: disc;
    font-size: 1.2em;
    margin-top: 0.05em;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: 600;
}

ul li ul li {
    list-style-type: square;
    padding-left: 0.0em;
    text-indent: 0;
    margin-left: 10%;
    font-weight: normal;
    font-size: 90%;
}

ul li ul li:before {
    content: "";
    position: relative;
    left: 0;
}



.step {
    width: 1280px;
    height: 800px;
    margin: 0;
    padding: 0px;
    display: block;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-family: 'Open Sans', sans-serif;

    font-size: 1em;
    line-height: 1.5;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}


.bullet-medium {
    font-size: 70%;
    margin:auto;
}


.bullet-big {
    font-size: 80%;
    margin:auto;
}

#footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   height:100px;
   background-image: url(img/CERN-logo-c.jpg);
   background-size: 90px 90px;
   background-repeat: no-repeat;
   background-color:#22529E;
}

h1.first_slide  {
    text-align: left;
    margin: 0;
    padding: 0;
    display: block;
    font-size: 1.5em;
}

h2.first_slide {
    text-align: left;
    margin: 0;
    margin-top: 20%;
    padding: 0;
    font-size: 0.8em;
}

/* Name and date of the event/conference */
h2.event  {
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: 10%;
    font-size: 0.8em;
}

h3.event  {
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
}


table.table-pretty {
    margin-left: auto;
    font-size: 0.6em;
    width: 95%;
    border-spacing: 0;
    margin-top: 3em;
    text-align: center;
}

table.table-pretty td {
    padding:0 0 0 0;

}

table.table-pretty tr:first-child  {
    text-align: center;
    background: #D2D2D2;
}

table.table-platforms td:nth-child(2){
    text-align:right;
}

table.table-pretty tr:nth-child(2n+3){
    background-color: #EDEDED;
}

table.table-pretty tr:nth-child(2n+2) {
    background-color: #FFFFFF;
}

.zoomedin_picture_notes {
    font-size: 60%;
    margin-left: 0%
}


div.dual-graph {
    width: 50%;
    display: table-cell;
    vertical-align:middle;
    font-size:40%;
    text-align:center;
}

img.dual-graph {
    height: 60%;
    display:block;
    margin:auto;
}

table.table-dual-graph {
    margin-left: auto;
    font-size: 0.6em;
    border-collapse: separate;
    width: 95%;
    border-spacing: 0;
    margin-top: 50px;
}

table.table-dual-graph tr:first-child  {
    text-align: center;
    border-spacing: 100px 100px;
    border-collapse:separate;
    background: #D2D2D2;
}

table.table-dual-graph td:nth-child(2){
    text-align:right;
}

table.table-dual-graph tr:nth-child(2n+3){
    background-color: #EDEDED;
}

